body
{
font-family: sans-serif;
color: #3c3939;
background-color: skyblue;
}

.profile-card
{
width:200px
margin:auto;
background: #fff;
box-shadow: 0 4px 10px 0 rgba(0,0,0,0.5);
border-radius:5%;
}
.image-container
{
position: relative;
background:#fff;
margin:auto;
border-radius:100%;
text-align:center;

}
.info
{
color: #4b4fe2;
margin-right:16px;
}
.main-container
{
padding:50px;

}
